@media screen and (max-width: 700px) {
header .container1{
    display: flex;
    flex-direction: column;
}    
}


@media screen and(max-width: 700px){
    .filme-principal{
        height: 1000px;
        background-size:cover;
        margin-top: 15px !important;
    }
}


.botao{
    margin-top: 5px;
    width: 300px; 
}

@media screen and (min-width: 1000px) {
    .descricao{
        width: 50%;
    }
}